//$word-form-background: #5887AA;
$word-form-background: #ffffff;
$word-form-heading: #666;
$word-form-heading-size: 16pt;

$site-green: #008800;
$site-red: #de3c4b;

$btn-font-size: 14pt;
$btn-background: #45425a;
$btn-color: white;
$btn-save-background: $site-green;
$btn-cancel-background: $site-red;

$maxwidth: 400px;
$header-height: 50px;
$spotlight-width: $maxwidth - 2*$header-height;
$spotlight-height: 200px;

.word-form-container {
	backdrop-filter: blur(2px);
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100vw;
	height: 100%;

	display: flex;
	justify-content: center;

	.word-form-wrapper {
		position: relative;
		top: 30px;
		width: $spotlight-width;
		min-height: $spotlight-height;

		.word-form {
			border: 1px solid #09f;
			border-radius: 15px;
			background-color: $word-form-background;
			padding: 10px;

			h2 {
				color: $word-form-heading;
				font-size: $word-form-heading-size;
				margin: 0;
			}

			.button-wrapper {
				display: flex;
				justify-content: space-between;
			
				.btn {
					font-size: $btn-font-size;
					border: none;
					border-radius: 15px;
					color: $btn-color;

					&.btn-save {
						background-color: $btn-save-background;
					}

					&.btn-cancel {
						background-color: $btn-cancel-background;
					}
				}
			}

			.word input {
				width: calc(100% - 10px);
				font-size: 16pt;
				color: #666;
				padding: 5px;
				border: 1px solid #999;
				border-radius: 10px;
				margin-bottom: 10px;
				outline: none;
			}
			.of-interest textarea, .notes textarea {
				font-size: 16pt;
				height: 80px;
				width: calc(100% - 10px);
				color: #666;
				padding: 5px;
				border: 1px solid #999;
				border-radius: 10px;
				outline: none;
			}
		}
	}
}
