//$word-form-background: #5887AA;
$word-form-background: #fff;
$word-form-heading: #666;
$word-form-heading-size: 16pt;

$site-green: #008800;
$site-red: #de3c4b;

$btn-font-size: 14pt;
$btn-background: #45425a;
$btn-color: white;
$btn-save-background: #09f;
$btn-cancel-background: #09f;

$maxwidth: 400px;
$header-height: 50px;
$spotlight-width: 380px;
$spotlight-height: 200px;

.word-form-container {
	backdrop-filter: blur(2px);
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100vw;

	display: flex;
	justify-content: center;
}

.word-form-container .word-form-wrapper {
	position: relative;
	top: 50px;
	min-width: $spotlight-width;
	min-height: $spotlight-height;
	box-shadow: #ccc 2px 2px 10px;

	.word-form {
		border: 2px solid #ccc;
		background-color: $word-form-background;

		.header {
			border-radius: 5px;
			font-size: 14pt;
			font-weight: bold;
			text-align: center;
			min-height: 20px;
			padding: 5px;
			color: #ddd;
		}

		.field-wrapper {
			padding: 10px;

			.word {
				color: $word-form-heading;
				font-size: $word-form-heading-size;
				margin: 0;
			}
		}
	}

}